body{
    background-color: rgb(22, 49, 27);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url(images/pngwing.com.png);
    background-repeat: repeat-x;
    background-position:bottom;
    padding-bottom: 1100px;
    

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 30px;
}
main{
    display: flex;
    text-align: justify;
    font-size: large;
    margin-left: 30px;
    display: flex;
    flex-direction: column; /* Mengatur arah flex ke kolom untuk layar kecil */
}