body{
    background-color: rgb(22, 49, 27);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url(images/pngwing.com.png),url(images/rumputAtas.png);
    background-repeat: repeat-x,repeat-x;
    background-position:bottom,top;
    padding-bottom: 450px;
    /* padding-right: 500px; */
}
h1{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: 450px;
    text-align: center;
}
.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.btn-group button {
    margin: 10px;
    padding: 10px 15px;
    background-color: rgba(41, 41, 41, 0.394);
    border:groove;
    border-radius: 10%;
    
}
.btn-group button a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    
}