body{
    background-color: rgb(22, 49, 27);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url(images/pngwing.com.png);
    background-repeat: repeat-x;
    background-position:bottom;
    padding-bottom: 250px;
    /* padding-right: 500px; */
    

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}
main figure  {
    display: flex;
    justify-content: center;
    align-items: center;
}
main figure div {
    width: 600px;
}
p{
    display: flex;
    text-align: justify;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
}
.card {
    background-color: rgba(0, 0, 0, 0.4);
}
.lampiran{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}