body{
    background-color: rgb(22, 49, 27);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-box{
    margin-top: 150px;
}

.btn-light:hover{
    background-color: rgba(22, 49, 27,0);
    color: white;
    transition: all 0.2s;
}
.hero-box img:hover{
    opacity: 60%;
    transition: all 0.2s;
}

footer{
    padding-top:110px ;
    font-family: none;
}

@media (max-width:1000px) {
    .hero-box img{
        width: 400px;
    } 
}
@media (max-width:700px) {
    .hero-box img{
        margin-top: -50px;
        width: 300px;
    } 
}